In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection &processing

In [5]:
#load thedata from csv to pandas data frame
titantic_data = pd.read_csv('/content/titanic_train.csv')

In [6]:
#printing the first 5 rows of the data frame
titantic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#number of rows and coloumns
titantic_data.shape

In [ ]:
#getting some information about the data
titantic_data.info()

In [ ]:
#check the number of missing values in each class
titantic_data.isnull().sum()

Handling the missing values

In [14]:
#drop the cabin coloumn from the data frame
titantic_data = titantic_data.drop(columns  = 'Cabin', axis=1)

In [15]:
#replacing the missing values in'Age' coloumn with mean value
titantic_data['Age'].fillna(titantic_data['Age'].mean(), inplace =True)

In [ ]:
#finding the mode value of 'Embarked' value
print(titantic_data['Embarked'].mode)

In [ ]:
print(titantic_data['Embarked'].mode()[0])

In [18]:
#replacing the missing value in 'embarked'coloumn with the mode value
titantic_data['Embarked'].fillna(titantic_data['Embarked'].mode()[0], inplace = True)

In [ ]:
titantic_data.isnull().sum()

Data Analysis

In [ ]:
#getting  some statical measures about te data
titantic_data.describe()

In [ ]:
#finding the numbers of people survived and not survived
titantic_data['Survived'].value_counts()

Data Visulaization

In [34]:
sns.set()

In [ ]:
#making a count plot for 'survived' coloumn
sns.countplot(x='Survived',data=titantic_data)

In [ ]:
#making a count plot for 'sex' coloumn
sns.countplot(x='Sex',data = titantic_data)

In [ ]:
#number of survivals  gender

sns.countplot(x='Sex', hue='Survived', data=titantic_data)

In [ ]:
sns.countplot(x='Pclass', hue='Survived', data=titantic_data)

In [ ]:
 sns.countplot(x='SibSp', hue='Survived', data=titantic_data)

In [ ]:
    sns.countplot(x='Age', hue='Survived', data=titantic_data)

Encoding the category coloumn

In [57]:
titantic_data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [58]:
titantic_data['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [61]:
#converting  category coloumn
titantic_data.replace({'sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace= True)

In [62]:
#now changed coloumns
titantic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0

Seprating the target

In [65]:
X=titantic_data.drop(columns=['PassengerId','Name','Survived'],axis=1)
Y=titantic_data['Survived']

In [ ]:
print(X)

spliting the data &test data

In [67]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size= 0.2, random_state=2)

In [71]:
print=(X.shape ,X_train,X_test.shape)

Model training

Logistic Regression

In [72]:
model=LogisticRegression()

In [ ]:
#training the model with training data
model.fit(X_train,Y_train)

Model Evaluation

Acuuracy score

In [ ]:
#accuracy on training data
X_train_prediction = model.predict(X_train)

In [ ]:
print(X_train_prediction)

In [ ]:
training_data_accuracy = accuracy_score(Y_train,X_train_prediction)
print('Accuracy score of trainng data :',training__data_accuracy)

In [ ]:
print X_test_prediction

In [82]:
test_data_accuracy=accuracy_score
print('Accuracy score of test data')

TypeError: ignored